<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarTrackEntities" connectionString="metadata=res://*/CarTrack.csdl|res://*/CarTrack.ssdl|res://*/CarTrack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\Projects\CarTrackAPI\CarTrackAPI\App_Data\CarTrack.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>