
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                About
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">

            <p>
                Statistic shows that a traveler waits an average of 20 minutes to get their luggage from the carousel. We believe travelers should be able to make a better use of their time by engaging in other things rather than keep focus on when their luggage will come out of the carouse. There is sure a smart way to achieve this and that is why we came up with the app that fits the job.  SmartLuggagePro is the future of luggage tracking as it uses one of the smart ways of tracking without interfering with other app running on your mobile device. We have developed the app to use the ‘Low Energy’ and handy beacons that will allow for a successful tracking of your luggage(s) as you wait from the baggage carousel. The low energy iBeacon technology provides for proximity position updates both indoor and outdoor. We partnered with one of the best Bluetooth device makers in the world to achieve a top class performance and tracking from our mobile app.The main goal of SLP app is to make available an app that will be user friendly to every adult regardless of how computer savvy that may individual be. All you need is to understand how it works and you are good to go. The app works by transmitting a signal to your smart mobile device within a given proximity and gives you the opportunity to choose how you want to track your luggage(s)
                There are no monthly fees charged as you use this app which is a SMARTER way of you being in control and not trapped.
                It is with great pleasure as we implore you to download a FREE SmartLuggagePro app for youriOS or Android device, you can also purchase a Beacon of your choice from the link or the website and you have simply invested in a time saving device that is ready to start working for you the minute you download the app.

            </p>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>How It Works:</h3>
        <ol class="round">
            <li class="one">
                <h5>Download</h5>
                Download a FREE SmartLuggagePro App for your device of choice either from <a href="https://play.google.com/store/apps/details?id=com.DigitalWavefront.TravelTag">Google Play for (Android)</a> or from AppStore for (iOS)
            </li>

            <li class="two">
                <h5>Register</h5>
                <a href="http://traveltag.blue/product/beacon/">Buy a Beacon</a> from the link and follow instruction to register your device. There are multiple cool options for all users to personalize the app interactions. You can select the specific language preferred for you notifications, save your beacon with a preferred name, select how often you’ll like to be notified of your luggage being tracked and so many other features. See our frequently asked questions page for more available features.
            </li>
            <li class="three">
                <h5>Travel</h5>
                Put your purchased beacon in your luggage of choice and let it start working for you from there. The beacon is approved by TSA, IATA, and FCC. No matter where you travel to or from your SLP app is ready to work around the globe..
            </li>
            <li class="four">
                <h5>Track</h5>
                Once you get to your final destination, allow those that love to rush out of the plane to get in front of you and relax while you simply turn your app on. You can go to the rest room, grab something to eat or carry out some other important things while your app is at work. Continue your walking towards the assigned baggage carousel for your flight while the app starts to notify you of how far your luggage is when it’s within the given proximity. This is now a smart way to travel, no more loitering and looking for luggage(s), no more pushing and shoving around the carousel, no more waste of time….it’s simply SMART!
            </li>
        </ol>
    </section>
</div>
